// ::-webkit-scrollbar
*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #777777;
	font-size: 15px;
	line-height: normal;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	font-family: "Montserrat Regular";
	
}

input[type="radio"], input[type='checkbox'], input[type="submit"]{
	appearance: none;
    -moz-appearance: none;
-webkit-appearance: none;
}
a,a:hover {text-decoration: none; color: inherit;}
.tr{
	transition: .3s;
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
h1, h2, h3,h4, p {
	padding: 0;
	margin: 0;
	
}

img{max-width: 100%}
button,button:focus,
input{
	outline: none;
	font-family: inherit;
	border: none;
}
button{
	cursor:pointer;
	.tr;
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
	background-color:transparent;
}
.container{
  width:1140px;
  margin: 0 auto;
	@media(max-width:1199px){
		width: 960px;
	}
	@media(max-width:991px){
		width: 738px;
	}
	@media(max-width:767px){
		width: 540px;
	}
	@media(max-width:579px){
		width: 100%;
		padding-left: 15px;
	  	padding-right: 15px;
	}
	
}
.title-3,.title-4, h3, h4{
	font-size: 18px;
	line-height: 1.22;
	color: @title;
	
}
.title-3, h3{
	font-family: "Montserrat Semibold";
}
/* BUTTON*/
.btn{
	height: 45px;
	padding-left: 39px;
	padding-right: 39px;
	border:2px solid @red;
	background-color: @red;
	color: #fff;
	font-size: 16px;
	line-height: 41px;
	.tr;
	&:hover{
		background-color: #fff;
		color: @red;
		border-color: @red;
	}
}
button.btn:focus{
	border-color: @red;
	background-color: @red;
	color: #fff;
}