//========== ПРЕИМУЩЕСТВА ===========
.benefits
	.container
		.swipe-wrapper 
			.benefits__content
				//========= карточка ============
				a(href="#!" download).benefit-card
					.benefit-card__img 
						img(src="img/1.png", width="357" alt="img")
						span Скачать
					.benefit-card__text 
						p Рекламные возможности и технические требования
				//========= карточка ============
				a(href="#!" download).benefit-card
					.benefit-card__img 
						img(src="img/1.png", width="357" alt="img")
						span Скачать
					.benefit-card__text 
						p Рекламные возможности и технические требования
				//========= карточка ============
				a(href="#!" download).benefit-card
					.benefit-card__img 
						img(src="img/1.png", width="357" alt="img")
						span Скачать
					.benefit-card__text 
						p Рекламные возможности и технические требования