.subscribe-block
	.container
		form(action="#").subscribe-form
			.subscribe-form-left
				h3.title-3 Будьте вкурсе всех уникальных предложений и скидок и акций
				.form-agree
					label
						input(type="checkbox" name="")
						span.custom-checkbox
						| Подтверждаю свое согласие на обработку персональных данных
						
			.subscribe-form-right
				.subscribe-form__group
					.form-item
						input(type="text" name="email" placeholder="Ваш e-mail")
					.form-item
						button.btn(type="submit") Подписаться