footer.footer
	include _footer-subscribe
	.footer-nav
		.container 
			.footer-column 
				.footer-contacts.accordeon-item 
					.accordeon-item-header.title-4
						h4 Контакты
					.accordeon-item-content.loock.hidden
						ul
							li
								span Адрес
								span м. Серпуховская, Павелецкая 1-й Щипковский переулок, д. 4
							li
								span Телефон
								a(href="tel:+74956428800") +7 (495) 642 88
							li
								span Электронная почта
								a(href="mailto:info@twinstore.ru") info@twinstore.ru
							li
								span Режим работы
								span ежедневно с 10:00 до 21:00