footer.footer
	include _footer-subscribe
	.footer-nav
		.container
			.footer-nav__content
				.footer-column
					.footer-contacts.accordeon-item 
						.accordeon-item-header.title-4
							h4 Контакты
						.contacts-list.accordeon-item-content.loock.hidden
							ul
								li
									span Адрес
									span м. Серпуховская, Павелецкая 1-й Щипковский переулок, д. 4
								li
									span Телефон
									a(href="tel:+74956428800") +7 (495) 642 88
								li
									span Электронная почта
									a(href="mailto:info@twinstore.ru") info@twinstore.ru
								li
									span Режим работы
									span ежедневно с 10:00 до 21:00
					.footer-metainfo
						ul
							li
								span Оставьте ваш отзыв
								a(href="#!")
									img(src="img/icons/maps.png", width="144" alt="yaMaps")
							li
								span Читайте о нас
								a(href="#!")
									img(src="img/icons/zen.png",  width="136" alt="yaDzen")
						.currency-rates
							ul 
								li 
									span USD
									span 73,62
								li 
									span EUR
									span 86,62
				.footer-column
					.footer-nav-list.accordeon-item 
						.accordeon-item-header.title-4
							h4 О Твинсторе
						.accordeon-item-content.loock.hidden
							ul
								li
									a(href="#!") О нас
								li
									a(href="") Фотогалерея
								li
									a(href="") Каталоги
								li
									a(href="") Кафе
								li
									a(href="") 3Д тур
					.footer-nav-list.accordeon-item 
						.accordeon-item-header.title-4
							h4 Шоу-румы
						.accordeon-item-content.loock.hidden
							ul
								li
									a(href="#!") Свет
								li
									a(href="") Мебель
								li
									a(href="") Ковры и гобелены
								li
									a(href="") Керамическая плитка
					.footer-nav-list.accordeon-item 
						.accordeon-item-header.title-4
							h4 Сотрудничество
						.accordeon-item-content.loock.hidden
							ul
								li
									a(href="#!") Арендателям
								li
									a(href="") Рекламодателям
								li
									a(href="") Письмо директору
								li
									a(href="") Дизайнеры
								li
									a(href="") Вакансии
				.footer-column
					.footer-nav-list.accordeon-item 
						.accordeon-item-header.title-4
							h4 Категории товаров
						.accordeon-item-content.loock.hidden
							.footer-nav-flex
								.nav-flex-block
									ul
										li
											a(href="") Диваны и кресла 
										li
											a(href="") Мебель для гостиной 
										li
											a(href="") Шкафы 
										li
											a(href="") Мебель для спален 
										li
											a(href="") Мебель для детской 
										li
											a(href="") Домашний кабинет 
										li
											a(href="") Кухни на заказ 
										li
											a(href="") Мебель для столовой 
										li
											a(href="") Для дома 
										li
											a(href="") Для кафе и ресторанов 
										li
											a(href="") Комплектующие 
										li
											a(href="") Аксессуары 
										li
											a(href="") Ковры и гобелены 
										li
											a(href="") Предметы интерьера 
										li
											a(href="") Предметы быта  
										li
											a(href="") Керамическая плитка 
										li
											a(href="") Керамогранит  
										li
											a(href="") Обои  
										li
											a(href="") Стеновые панели
								.nav-flex-block
									ul
										li
											a(href="") Натуральный камень 
										li
											a(href="") Кварцевый камень
										li
											a(href="") Паркет 
										li
											a(href="") Ламинат 
										li
											a(href="") Пробковый пол
										li
											a(href="") Техника для постирочной
										li
											a(href="") Техника для кухни 
										li
											a(href="") Массажные столы
										li
											a(href="") Массажные кресла 
										li
											a(href="") Спортивное оборудование
										li
											a(href="")  Массажеры
									.nav-list-type
										h4 События
										ul
											li
												a(href="") Акции 
											li
												a(href="") Новости
											li
												a(href="") Мероприятия
											li
												a(href="") Идеи
				.footer-column
					.scheme-block#mixit-block
						h4 Поэтажный план
						.scheme-mixit#mixit-block
							.scheme-block__img
								.scheme-img.mixitBlock-content.active(data-content="cat1")
									img(src="img/plan.png", width="218" alt="img")
								.scheme-img.mixitBlock-content(data-content="cat2")
									img(src="img/plan.png", width="218" alt="img")
								.scheme-img.mixitBlock-content(data-content="cat3")
									img(src="img/plan.png", width="218" alt="img")
							
							.mixitBlock-toggle.scheme-block-toggle
								button.active(data-btn='cat1') 1 этаж
								button(data-btn='cat2') 2 этаж
								button(data-btn='cat3') Общий план
					.social-block
						h5 Мы в социальных сетях
						nav
							a(href="#!")
								span
									+fb
							a(href="#!")
								span
									+insta
							a(href="#!")
								span
									+yout
					.copyright-block 
						p Copyright &copy; Твинстор 2020 
						.politic-doc
							a(href="#!") Политика конфиденциальности 
						p ©PATRON - разработка сайтов и комплексный маркетинг
						.toggle-leng
							a(href="#!")
								span
									img(src="img/icons/flag.png", width="20" alt="img")
								span ENG

								