mixin counter
	.product-counter&attributes(attributes)
		button.product-counter--minus -
		span.product-counter--num 1
		button.product-counter--plus +
		input(type="hidden" name="product_count" value='1')


mixin newCard(newItem,oldPrice,modalNum,badge, img, filter, filterImg)
	div(class=(filter === 'true' ? "productCard-item  productCard-item--small " :"productCard-item "))
		// ========   первая ссылка внутри карточки ===========
		a(href="#!" data-toggle="modal" data-target=""+ modalNum).productCard
			.productCard-body
				.productCard-top
					// ========   БЕЙДЖИ  ===========
					if badge !== ''
						.productCard__badges
							.product-sale
								p Акция!
							.product-poppular
								p Популярное
					if newItem !==''
						.product-new
							p NEW
					//======== КОНЕЦ  БЕЙДЖИ  ===========
					div(class=(filterImg === 'true' ? "productCard-image  productCard-image--rect" :"productCard-image"))
						img(src="img/products/"+img,  alt="product" )
				.productCard-center
					.productCard-text
						h3 Пицца Пепперони
						p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.

			.productCard-footer.productCard-footer--desk
				.productCard-price
					.product-price-new
						p 630
						span &#8381;
					if oldPrice !==''
						.product-price-old
							p !{oldPrice}
							span &#8381;
		// ========   вторая ссылка внутри карточки ===========
		a(href="#!"  data-toggle="modal" data-target=""+ modalNum).productCard-btn Выбрать
		.productCard-footer.productCard-footer--mobile
			.productCard-price
				a(href="#!").product-price-new
					span.for-mobile от
					p 630
					span &#8381;
				.product-price-old
					p 830
					span &#8381;
// для карточек по 4 шт в ряду , добавляем родительскому диву с классом "productCard-item" еще один класс   "productCard-item--small"
// для карточек с прямоугольной картинкой диву с классом  "productCard-image" (внутри которого тег <img>) добавляем класс  productCard-image--rect
.block-wrapper
	section.main-Product-menu
		.container
			.mixit-block#mixit-block
				.mixitBlock-menu
					button.active(data-btn='cat1') Пиццы
					button(data-btn='cat2') Роллы
					button(data-btn='cat3') Блюда
					button(data-btn='cat4') Салаты
					button(data-btn='cat5') Закуски
					button(data-btn='cat6') Напитки
				.productCards-wrapper
					//============== карточки одной категории =============
					.row.mixitBlock-content.active(data-content="cat1")
						// =====КАРТОЧКА #1 -  КВАДРАТНАЯ КАРТИНКА ==========
						.col-md-6.col-lg-4
							+newCard('new','830','#productModal','badge','1.png')
						
					//============== карточки одной категории =============	
					.row.mixitBlock-content(data-content="cat2")
						// ===== КАРТОЧКА #1- ПРЯМОУГ КАРТИНКА ==========
						.col-md-6.col-lg-4
							+newCard('new','','#productModal2','badge','2.png','','true')
						
						
					//============== карточки одной категории =============
					.row.mixitBlock-content(data-content="cat3")
						// =====КАРТОЧКА #2  КВАДРАТНАЯ КАРТИНКА ==========
						.col-md-6.col-lg-4.col-xl-3
							+newCard('new','810','#productModal','badge','1.png','true')
						
					//============== карточки одной категории =============
					.row.mixitBlock-content(data-content="cat4")
						// =====КАРТОЧКА #2  ПРЯМОУГ КАРТИНКА ==========
						.col-md-6.col-lg-4.col-xl-3
							+newCard('new','','#productModal2','badge','2.png','true','true')
						
						