header.header
	.header-desk
		.header-top
			.container
				.header-top__content
					.header-top-item.header-top-item--column
						.adress-item--icon
							span
								+metro
							p Серпуховская, Павелецкая
						.adress-item
							p 1-й Щипковский переулок д. 4 
					.header-top-item
						.office-hour 
							p Ежедневно с 10:00 до 21:00
					.header-top-item
						.contact-phone
							a(href="tel:84956428800") +7 (495) 642 88 00
					.header-top-item
						button.item-lang ru
							span
								+ru
		.header-center
			.container
				.header-center__content
					.header-center-item
						button.search#search-btn
							+search
						.search-item.search-item--catalog
							span 
								+logo
							button.item-lang Каталог
					.header-center-item
						.img-block
							img(src='img/icons/company.png' width="208" alt='img')
					.header-center-item
						.icons-block
							ul 
								li
									a(href="#")
										+bookmark
									span.active
								li 	
									a(href="#")
										+star
									span
								li 
									a(href="#")
										+basket
									span.active
								li 
									a(href="#")
										+login
									span

		.header-search#header-search
			.container
				form.search-form
					.search-form__content
						.form-item.form-item__input
							input(type="text")
						.form-item
							button.btn(type="submit") Найти 
		.header-nav
			.container
				.header-nav__content
					ul
						li
							a(href="about.html") О Твинсторе
						li
							a(href="tour.html") 3D тур
						li
							a(href="show-room") Шоу-румы
						li
							a(href="brends") Бренды
						li
							a(href="contacts") Контакты

	#mobile-menu.mobile-menu
		.mobile-menu__header
			.container
				.header-content
					.img-block
						img(src='img/icons/company.png' width="208" alt='img')
				.menu-toggle
					span
		.header__icon-group
			ul 
				li
					a(href="#")
						+bookmark
					span.active
				li 	
					a(href="#")
						+star
					span
				li 
					a(href="#")
						+basket
					span.active
				li 
					a(href="#")
						+login
					span
			#search-btn__mob
				+search
		.header-search#header-search__mob
			.container
				form.search-form
					.search-form__content
						.form-item.form-item__input
							input(type="text")
						.form-item
							button.btn(type="submit") Найти	
		#mobile-nav
			.mobile-menu__center
				.contact-phone
					a(href="tel:84956428800") +7 (495) 642 88 00
				button.item-lang ru
					span
						+ru

			.mobile-menu__body
				ul

					ul
						li
							a(href="about.html") О Твинсторе
						li
							a(href="tour.html") 3D тур
						li
							a(href="show-room") Шоу-румы
						li
							a(href="brends") Бренды
						li
							a(href="contacts") Контакты

