header.header
	.header-desk
		.header-top
			.container
				.header-top__content
					.header-top-item
						.adress-item.adress-item--icon
							span
								+metro 
							p Серпуховская, Павелецкая
						.adress-item
							p 1-й Щипковский переулок д. 4 
					.header-top-item
						.office-hour 
							p Ежедневно с 10:00 до 21:00
					.header-top-item
						.contact-phone
							a(href="tel:84956428800") +7 (495) 642 88 00
					.header-top-item
						button.item-lang ru
							span
								+ru
		.header-center
			.container
				.header-center__content
					.header-center-item
						.search-item 
							span 
								+search
					.header-center-item
						.logo-block 
							span 
								+logo 
					.header-center-item
						.img-block
								img(src='img/icon/company.png' alt='img' )
		.header-search
			.container
				form.search-form
					.search-form__content
						.form-item 	
							input(type="text")
						.form-item
							button(type="submit") Найти
		.header-nav
			.container
			 
