.footer-nav{
	padding-top: 45px;
	padding-bottom: 60px;
	background-color: #fff;

}
/*accordionn*/
.accordeon-item-header {
	@media(max-width:767px){
		position: relative;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: .3s;
	}
    
}

.accordeon-item-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.show {
    background-color: #87c49d;
    color: #fff;
}

.loock {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
}