block variables


doctype html
html(lang='ru')
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		title #{title}
		meta(name="keywords" content="nft, cryptoart,crypto")
		meta(name="description" content="First Curated CryptoArt Online Exhibition Official opening: 12th of April" )
		link(rel="preconnect" href="https://fonts.gstatic.com")
		link( href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet")
		

		link(rel='apple-touch-icon' sizes='180x180' href='img/apple-touch-icon.png')
		link(rel='icon' type='image/png' sizes='32x32' href='img/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='img/favicon-16x16.png')
		link(rel='manifest' href='img/site.webmanifest')
		link(rel='mask-icon' href='img/safari-pinned-tab.svg' color='#5bbad5')
		link(rel='shortcut icon' href='img/favicon.ico')
		meta(name='msapplication-TileColor' content='#da532c')
		meta(name='msapplication-config' content='img/browserconfig.xml')
		meta(name='theme-color' content='#ffffff')
		meta(property="og:type" content="website")
		meta(property="og:site_name" content="cryptoartmuseum")
		meta(property="og:title" content="cryptoartmuseum")
		meta(property="og:description" content="First Curated CryptoArt Online Exhibition Official opening: 12th of April")
		meta(property="og:url" content="https://cryptoartmuseum.online/")
		meta(property="og:locale" content="en_US")
		meta(property="og:image" content="https://cryptoartmuseum.online/img/prev.jpg")
		meta(property="og:image:width" content="968")
		meta(property="og:image:height" content="504")
		link(rel="stylesheet", href="css/main.css")
		
	body
		block content

		script(src="js/jquery/jquery-3.0.0.min.js")
		script(src="js/main.js")